/* Tailwind Configs */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* Custom globals */
@layer base {
    html {
      margin: 0;
      font-family: 'Nunito', sans-serif;
      color: #28282B;
      scroll-behavior: smooth;
      
    }
  }

@layer components{
  .input {
    @apply mt-2 block rounded-3xl border bg-[#f0f2f7] py-2.5 px-5 ring-primaryOrange-light/80 focus:outline-primaryOrange focus:ring-2 dark:focus:outline-0 resize-none dark:bg-gray-700 dark:border-0
  }
  .label{
    @apply  text-sm font-semibold  
  }
}
